* {
    margin: 0px;
    padding: 0px;
}

*::selection {
    background-color: #FF6006;
    color: #ffffff;
}

.bodyContainer {
    padding: 96px 0px;
    display: grid;
    gap: 128px;
}

/* header  */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
}

#header .head {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0px auto;
}

/* navigator */
.navigator {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 2%;
    width: 100%;
    z-index: 99;
}

.nav-container {
    display: flex;
    border: 2px solid black;
    padding: 12px 32px;
    border-radius: 12px;
    flex-direction: column;
    background-color: white;
}

.links {
    display: flex;
    gap: 32px;
}

/* hamburger menu  */
.ham-menu {
    height: 50px;
    width: 40px;
    position: relative;
    margin: 0px auto;
    display: none;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #000000;
    border-radius: 25px;
    position: absolute;
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(2) {
    top: 50%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: rgb(0, 0, 0);
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

/* hero section  */
.hero {
    width: 90%;
    margin: 0px auto;
    display: grid;
    gap: 20px;
}

.hero .heroHead {
    display: grid;
    gap: 40px;
}

.hero img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero .body p {
    width: 60%;
    margin: 20px 0px;
}

/* about section  */
.about {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about .body {
    width: 35%;
    display: grid;
    gap: 24px;
}

.about .body .head {
    display: grid;
    gap: 16px;
}

.about .img-container {
    width: 40%;
}

.about .img-container img {
    width: 100%;

}

/* service section  */
.service-container {
    width: 90%;
    margin: 0px auto;
    display: grid;
    gap: 40px;
}

.service-container .head {
    display: grid;
    gap: 20px;
}

.service-container .services {
    display: grid;
    gap: 40px;
}

.service-container .services .main {
    display: flex;
    height: 400px;
    gap: 40px;
}

.service-container .services .main .service {
    flex: 1;
    transition: .3s ease;
}

.service-container .services .main .service:hover {
    flex: 1.9;
}

.service-container .services .main .service img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* testimonial section  */
.testimonial-container {
    width: 90%;
    margin: 0px auto;
    display: grid;
    gap: 72px;
}

.testimonial-container .head {
    display: grid;
    gap: 16px;
}

.testimonial-container .head p {
    width: 30%;
}

.testimonials {
    display: flex;

    gap: 40px;
    overflow: hidden;
}

.testimonial {
    width: 45%;
    min-height: 300px;
    background-color: rgb(171, 171, 171);
    flex-shrink: 0;
    border-radius: 20px;
    /* transform: translateX(-200%); to reach the end testimonial*/
}
/* Our Process */
.process {
    width: 90%;
    margin: 0px auto;
    display: grid;
    gap: 64px;
}

.process .head {
    display: grid;
    gap: 40px;
}

.process .head p {
    width: 60%;
}
.process .steps{
    display: grid;
}
.process .steps .step {
    border-top: 3px solid black;
    display: grid;
    height: 100px;
    transition-delay: 0.2s;
    transition: 0.5s ease;
    align-content: end;
    padding-bottom: 30px;
}
.process .steps .step:hover{
    height: 30vh;
    background-image: url(Horizontal\ img.jpg);
    background-position: 50% 50%;
    background-size: cover;
    
}

.process .steps .step:last-child {
    border-bottom: 3px solid black;
}
/* FAQ  */
.FAQ{
    width: 80%;
    margin: 0px auto;
    display: grid;
    gap: 96px;
}
.FAQ .head{
    text-align: center;
}
.faqs{
    display: grid;
    gap: 64px;
}
.faq{
    width: 100%;
    height: 70px;
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
}

/* CTA  */
.CTA {
    max-width: 80%;
    margin: 0px auto;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 128px 72px;
    flex-wrap: wrap;
    border-radius: 24px;
    gap: 32px;
}

.CTA form {
    display: grid;
    gap: 20px;
    justify-items: start;
}
/* footer section  */
footer {
    background-color: black;
    color: white;
    padding: 64px;
    display: grid;
    gap: 72px;
    margin: 0px auto;
    text-align: center;
}

.footer-container {
    display: grid;
    gap: 96px;
    width: 90%;
    margin: 0px auto;
}

.footer-container .links {
    margin: 0px auto;
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-container .cta span{
    position: relative;
    margin-left: 10px;
}
.footer-container .cta span svg{
    position: absolute;
    top: 12.5%;
    rotate: -45deg;
    
}
.footer-container .Contact {
    margin: 0px auto;
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}

footer .social-links {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white;
    padding-top: 16px;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

footer .social-media {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width:960px) {
    .service-container .services .main {
        flex-direction: column;
        height: auto;
    }

    .service-container .services .main .service img {
        height: 40vh;
    }
    .process .steps{
        gap: 32px;
    }
    .process .steps .step:last-child {
        border-bottom: none;
    }
    .process .steps .step {
        height: 300px;
        background-image: url(Horizontal\ img.jpg);
        background-position: 50% 50%;
        background-size: cover;
        border: none;

    }
    .process .steps .step:hover {
        height: 300px;
        background-image: url(Horizontal\ img.jpg);
        background-position: 50% 50%;
        background-size: cover;

    }

    footer .social-links {
        justify-content: center
    }

}

@media screen and (max-width:768px) {
    .nav-container {
        padding: 8px;
        transition: .3s ease;
        width: 50px;
    }

    .nav-container.active {
        width: 90%;

    }

    .nav-container .link {
        opacity: 0;

        transition: .3s ease;
        transition-delay: .1s;
    }

    .nav-container .link.active {
        opacity: 1;
    }

    .ham-menu {
        display: block;
    }

    .nav-container .links {
        flex-direction: column;
        align-items: center;
        height: 0px;
        overflow: hidden;
        transition-delay: .2s;
        transition: .3s ease;
    }

    .links.active {
        height: 15rem;
    }

    /* herosection */
    .hero img {
        height: 50vh;
    }

    /* about section  */
    .about .body {
        width: 90%;
        margin: 16px auto;
    }

    .about .img-container {
        width: 100%;

    }

    .about img {
        height: 60vh;
    }

    /* testimonial section  */
    .testimonial-container .head p {
        width: 60%;
    }

    .testimonials {
        flex-direction: column;
    }

    .testimonial {
        width: 100%;
        /* transform: translateX(-200%); to reach the end testimonial*/
        height: 40vh;
    }

    /* Our Process  */
    .process .head p {
        width: 100%;
    }

    /* FAQ  */
    .FAQ{
        width: 95%;
    }

    /* footer  */
    footer .social-links {
        justify-content: center;
    }
}

@media screen and (max-width:600px) {
    .hero .body p {
        width: 100%;
    }

    .testimonial-container .head p {
        width: 85%;
    }
    .CTA {
        justify-content: flex-start;
        padding: 72px 24px;
    }
}