* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;

}

*::selection {
    background-color: #FF6006;
    color: #ffffff;

}

.Btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 550;
    border: none;
    position: relative;
    overflow: hidden;
    background-color: var(--black);
    color: var(--white);
}

.Btn p {
    position: relative;
    font-size: clamp(1rem, 1vw, 2rem);
    z-index: 10;
}

.Btn svg {
    position: relative;
    font-size: clamp(.8rem, 1vw, 2rem);
    z-index: 10;
}

.Btn:hover p {
    color: var(--white);
}

.Btn:hover svg {
    color: var(--white);
}

.Btn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -110%;
    top: 0%;
    background-color: var(--primary-color);
    border-radius: 30%;
    transition: .4s ease;
}

.Btn:hover::after {
    left: 0%;
    border-radius: 0%;
}

h1 {
    font-size: clamp(2rem, 2.25vw, 4rem);
    font-weight: bold;
}

h2 {
    font-size: clamp(2rem, 2.5vw, 4rem);
    line-height: 150%;
    font-weight: 550;

}

h3 {
    font-size: clamp(2rem, 1.5vw, 3rem);
    ;
    font-weight: normal;
}

p {
    font-size: clamp(1rem, 1.2vw, 2rem);
    line-height: 150%;
}

h4 {
    color: var(--primary-color);
    font-size: clamp(1rem, 1vw, 2rem);
    font-family: var(--font-head);
    font-weight: 700;
}

body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FF6006;
    --black: #000000;
    --white: #ffffff;
    --font-head: 'Ppneuemontreal', sans-serif;
}

.bodyContainer {
    padding: 96px 0px;
    display: grid;
    gap: 128px;
}

/* header  */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 2%;
    z-index: 100;
}

#header .head {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0px auto;
}

#header .head .logo {
    display: flex;
    gap: 4px;
    align-items: center;
}

#header .head .logo h2 {

    font-weight: normal;
    font-size: clamp(1.25rem, 2vw, 2rem);
}

#header .head .logo h2 span {
    color: var(--primary-color);
    font-weight: bold;
}

/* navigator */
.navigator {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 3%;
    width: 100%;
    z-index: 99;
}

.nav-container {
    display: flex;
    padding: 12px 24px;
    border-radius: 12px;
    flex-direction: column;
    background-color: #242424;
}

.links {
    display: flex;
    gap: 8px;
}

.nav-container .links a {
    color: var(--white);
    text-decoration: none;
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    transition: .4s ease;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid #d8d2c2;
    background-color: var(--black);
}

.nav-container .links a:hover {
    color: #f9975e;
    border: 2px solid #f9975e;

}

.nav-container .link.view {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}


/* hamburger menu  */
.ham-menu {
    height: 50px;
    width: 40px;
    position: relative;
    margin: 0px auto;
    display: none;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 25px;
    position: absolute;
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(2) {
    top: 50%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}


.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}
/* hero section  */
.hero {
    width: 90%;
    margin: 0px auto;
    display: grid;
    gap: 24px;
}

.hero .heroHead {
    display: grid;
    gap: 64px;
}

.hero video {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    border-radius: 20px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero .heroHead h1 {
    color: var(--primary-color);
    font-family: var(--font-head);
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 400;
}

.hero .body .text {
    width: 60%;
    margin: 20px 0px;
    font-size: clamp(1rem, 1.5vw, 2.25rem);
    line-height: 150%;
}

/* about section  */
.about {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about .body {
    width: 45%;
    display: grid;
    gap: 24px;
}

.about .body .head {
    display: grid;
    gap: 16px;
}

.about .body .head h2 {
    font-family: var(--font-head);
}

.about .img-container {
    width: 40%;
}

.about .img-container img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/* service section  */
.service-container {
    width: 90%;
    margin: 0px auto;
    display: grid;
    gap: 40px;
}

.service-container .head {
    display: grid;
    gap: 20px;
}

.service-container .head h4 {
    color: var(--primary-color);
}

.service-container .services {
    display: grid;
    gap: 40px;
}

.service-container .services .main {
    display: flex;
    height: 45vh;
    gap: 40px;
}

.service-container .services .main .service {
    flex: 1;
    transition: .3s ease;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.service-container .services .main .service .overlay {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    position: absolute;
    top: 0%;
    border-radius: 20px;
    transition: .2s ease;
    opacity: .2;
}

.service-container .services .main .service .body {
    position: absolute;
    bottom: 0%;
    margin-left: 24px;
    color: var(--white);
}

.service-container .services .main .service .body .desc {
    height: 0px;
    opacity: 0;
    transition: .4s ease;
}

.service-container .services .main .service:hover .body .desc {
    height: 6rem;
    opacity: 1;
    transition: .4s ease;
}


.service-container .services .main .service:hover {
    flex: 1.9;
}

.service-container .services .main .service video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.service-container .services .main .service img {
    width: 110%;
    height: 110%;
    object-fit: cover;
    border-radius: 16px;
    position: absolute;
    left: 0%;
    opacity: 1;
    transition: .3s all;
}
.service-container .services .main .service:hover img {
    opacity: 0;
}
/* testimonial section  */
.testimonial-container {
    width: 90%;
    margin: 0px auto;
    display: grid;
    gap: 72px;
    padding: 48px 0px;
}

.testimonial-container .head {
    display: grid;
    gap: 16px;
}

.testimonial-container .head h2 {
    color: var(--primary-color);
}

.testimonial-container .head p {
    width: 30%;
}

.testimonials {
    display: flex;

    gap: 40px;
    overflow: hidden;
}

.testimonial {
    width: 45%;
    flex-shrink: 0;
    border-radius: 20px;
    display: grid;
    gap: 12px;
    background-color: var(--black);
    color: var(--white);
    padding: 72px 24px;
    /* transform: translateX(-200%); to reach the end testimonial*/
}

.testimonial .head {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
}

.testimonial .head .title h3 {
    font-size: clamp(1.5rem, 2.2vw, 3rem);
    font-weight: 550;
    color: var(--primary-color);
}

.testimonial .head .title h4 {
    color: var(--white);
    font-weight: 50;
}

/* Our Process */
.process {
    width: 90%;
    margin: 0px auto;
    display: grid;
    gap: 64px;
}

.process .head {
    display: grid;
    gap: 40px;
}

.process .head h2 span {
    color: var(--primary-color);
    font-weight: bold;
}

.process .steps h3 {
    color: var(--primary-color);
}

.process .head p {
    width: 60%;
}

.process .steps {
    display: grid;
}

.process .steps .step video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    transition: .3s ease;
    position: absolute;
    top: 0%;
}

.process .steps .step .overlay {
    display: none;
}

.process .steps h3 {
    font-size: clamp(2rem, 2.5vw, 3rem);
    font-weight: 550;
}

.process .steps .step .overlay {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    position: absolute;
    top: 0%;

    transition: .2s ease;
    opacity: .3;
}

.process .steps .step {
    border-top: 3px solid black;
    display: grid;
    height: 120px;
    overflow: hidden;
    transition-delay: 0.2s;
    transition: 0.5s ease;
    align-content: end;
    position: relative;
}

.process .steps .step h3 {
    position: absolute;
    bottom: 10%;
    left: 1%;
}

.process .steps .step:hover {
    height: 60vh;
    background-position: 50% 50%;
    background-size: cover;

}

.process .steps .step:hover video {
    display: block;

}

.process .steps .step:hover .overlay {
    display: block;

}

.process .steps .step:last-child {
    border-bottom: 3px solid black;
}

/* FAQ  */
.FAQ-section {
    background-color: #ffefe6;
    padding: 72px 0px;
}

.FAQ {
    width: 80%;
    margin: 0px auto;
    display: grid;
    gap: 64px;
}

.FAQ .head {
    text-align: center;
}

.FAQ .head h2 {
    color: var(--primary-color);
}

.faqs {
    display: grid;
    gap: 24px;
}

.faq {
    width: 100%;

}

.faq .question h3 {
    font-size: clamp(1.2rem, 1.5vw, 2.5rem);
    color: var(--primary-color);
}

.faq .answer p {
    font-size: clamp(1rem, 1vw, 2rem);
}
.faq {
    border-top: 3px solid rgb(37, 37, 37);
    padding-top: 20px;
}

.faq .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq .answer {
    height: 0px;
    margin-top: 16px;
    overflow: hidden;
    transition: .3s ease;
    width: 75%;
}

.faq .answer.active {
    height: 5rem;
}

.answerToggle {
    width: 24px;
    height: 24px;
    position: relative;
}

.answerToggle span {
    height: 3px;
    width: 100%;
    background-color: var(--black);
    border-radius: 25px;
    position: absolute;
    transition: .3s ease;
    top: 50%;
}

.answerToggle span:first-child {
    rotate: 90deg;
}

.answerToggle.active span:first-child {
    rotate: 0deg;
}
/* CTA  */
.CTA {
    max-width: 80%;
    margin: 0px auto;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 128px 72px;
    flex-wrap: wrap;
    border-radius: 24px;
    gap: 32px;
}

.CTA button {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    gap: 6px;
}

.CTA form {
    display: grid;
    gap: 20px;
    justify-items: start;
    width: 40%;
}

.CTA form input {
    width: 100%;
    border-radius: 12px;
    font-size: 28px;
    padding: 12px;
}

.CTA span {
    position: relative;
    margin-left: 10px;
}

.CTA span svg {
    position: absolute;
}

/* footer section  */
footer {
    background-color: black;
    color: white;
    padding: 64px;
    display: grid;
    gap: 72px;
    margin: 0px auto;
    text-align: center;
    word-break: break-all;
}

.footer-container {
    display: grid;
    gap: 8vw;
    width: 90%;
    margin: 0px auto;
}

.footer-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-container .logo svg {
    width: clamp(48px, 5vw, 512px);
}

.footer-container .logo h1 {
    font-weight: lighter;
    font-size: clamp(2rem, 3vw, 5rem);
}

.footer-container .logo h1 span {
    color: var(--primary-color);
    ;
}

.footer-container .links {
    margin: 0px auto;
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

.footer-container .links a {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: var(--white);
    text-decoration: none;
    transition: .3s ease;
}

.footer-container .links a:hover {
    color: var(--primary-color);
}

.footer-container .cta a {
    color: var(--white);
    text-decoration: none;
    transition: .3s ease;
}
.footer-container .cta a:hover {
    color: var(--primary-color);
}
.footer-container .cta H1 {
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 100;
}
.footer-container .cta span {
    position: relative;
    margin-left: 10px;
}

.footer-container .cta span svg {
    position: absolute;
    top: 12.5%;
    rotate: -45deg;

}

.footer-container .Contact {
    margin: 0px auto;
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

footer .social-links {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white;
    color: #909090;
    padding-top: 16px;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

footer .social-links p {
    font-size: clamp(1rem, .8vw, 2rem);
}

.social-media a {
    font-size: clamp(.8rem, 1.5vw, 1.5rem);
    color: #909090;
    text-decoration: none;
    transition: .3s ease;
}

.social-media .link:hover {
    color: var(--primary-color);
}

footer .credits a {
    color: var(--primary-color);
    text-decoration: none;
}

footer .social-media {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width:960px) {
    .testimonial-container {
        padding: 24px 0px;
    }

    .service-container .services .main {
        flex-direction: column;
        height: auto;
    }

    .service-container .services .main .service:hover {
        flex: 1;
    }

    .service-container .services .main .service .body {
        margin-left: 12px;
        ;
    }



    .service-container .services .main .service .overlay {
        opacity: .3;
    }

    .service-container .services .main .service .body .desc {
        height: auto;
        opacity: 1;
    }

    .service-container .services .main .service:hover .body .desc {
        height: auto;
    }

    .process .steps {
        gap: 32px;
    }

    .process .steps .step:last-child {
        border-bottom: none;
    }

    .process .steps .step video {
        display: block;
    }

    .process .steps .step {
        background-position: 50% 50%;
        background-size: cover;
        border: none;

    }
    .process .steps .step {
        height: 45vh;
        background-position: 50% 50%;
        background-size: cover;
    
    }
    .process .steps .step video{
        height: 45vh;
        background-position: 50% 50%;
        background-size: cover;
    
    }
    .process .steps .step:hover .overlay{
       opacity: 0;

    }
    .process .steps .step:hover {
        height: 45vh;
    }

    .testimonials {
        flex-direction: column;
    }

    .testimonial {
        width: 90%;
        /* transform: translateX(-200%); to reach the end testimonial*/
        margin: 0px auto;
    }

    .footer-container {
        display: grid;
        gap: 96px;
        width: 90%;
        margin: 0px auto;
    }

    footer .social-links {
        justify-content: center
    }

    .footer-container .links a:hover {
        color: var(--white);
    }

}

@media screen and (max-width:768px) {
    .nav-container {
        padding: 16px;
        transition: .3s ease;
        width: 50px;
    }

    .nav-container.active {
        width: 90%;

    }

    .nav-container .links a:hover {
        border: none;
    }

    .nav-container .link {
        opacity: 0;
        transition: .3s ease;
        transition-delay: .1s;
    }

    .nav-container .link.view {
        border: none;
        color: var(--primary-color);
    }

    .nav-container .link.active {
        opacity: 1;
    }

    .ham-menu {
        display: block;
    }

    .nav-container .links a {
        padding: 16px;
        border: none;
        background-color: transparent;
    }

    .nav-container .links a:hover {
        color: var(--primary-color);
    }

    .nav-container .links {
        flex-direction: column;
        align-items: center;
        height: 0px;
        overflow: hidden;
        transition-delay: .2s;
        transition: .3s ease;
    }

    .links.active {
        height: 18rem;
    }

    /* herosection */
    .hero img {
        height: 50vh;
    }

    /* about section  */
    .about .body {
        width: 90%;
        margin: 16px auto;
    }

    .about .img-container {
        width: 100%;

    }

    .about img {
        height: 60vh;
    }

    /* testimonial section  */
    .testimonial-container {
        padding: 12px 0px;
    }

    .testimonial-container .head p {
        width: 60%;
    }

    .testimonials {
        flex-direction: column;
    }

    .testimonial {
        gap: 16px;
        /* transform: translateX(-200%); to reach the end testimonial*/
        padding: 36px 8px;
        /* transform: translateX(-200%); to reach the end testimonial*/
    }


    /* Our Process  */
    .process .head p {
        width: 100%;
    }

    /* FAQ  */
    .FAQ {
        width: 95%;
    }

    /* CTA  */
    .CTA {
        justify-content: flex-start;
    }

    .CTA form {
        display: grid;
        gap: 20px;
        justify-items: start;
        width: 100%;
    }

    .CTA form input {
        width: 100%;
        height: 50px;
        border-radius: 12px;
    }

    /* footer  */
    footer .social-links {
        justify-content: center;
    }

    .footer-container .logo h1 {
        letter-spacing: 0px;
    }
}

@media screen and (max-width:600px) {
    .hero .body .text {
        width: 100%;
    }

    .service-container .services .main .service .body .desc {
        height: 0px;
        opacity: 1;
    }

    .testimonial-container .head p {
        width: 85%;
    }

    .CTA {
        justify-content: flex-start;
        padding: 72px 24px;
    }
    header .logo h2{
        display: none;
    }
    .Btn {
        padding: 10px 12px;
    }

    .faq .answer.active {
        width: 100%;
        height: 10rem;
    }
    .service-container .services .main .service:hover .body .desc {
        height: 0px;
        opacity: 0;
        transition: .4s ease;
    }
    .CTA form input {
        width: 100%;
        border-radius: 12px;
        font-size: 20px;
        padding: 0px;
    }
    .faq .answer.active {
        height: 6.5rem;
    }

}

@media screen and (max-width:300px) {
    .CTA {
        justify-content: flex-start;
        padding: 72px 8px;
        overflow: hidden;
    }

    .Btn {
        padding: 6px 8px;
    }
}